


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="configuration.page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard-admin</title>
</head>

<header>

    <section1 class="container" id="flex">
        <div class="box">
        
         <img src="img/E G S.png" alt="logo"  height="100px" width="100px">
         <br>

        </div>
    
         <br>       
         <nav >
    <ul>
        <a href="dashboard.html"> <li>dashboard</li> </a>
       
        <a href="planning.page.html"> <li>Planning</li> </a>
        
   
       
        <a href="fiche.contact.page.html"> <li>Fiches contact</li> </a>
       
        <a href="gestion.utilisateurs.page.html"> <li>Utilisateurs</li> </a>
        
        <a href="configuration.page.html"> <li>Configuration</li> </a>
    </ul>
    </nav>
    
    </div>
    
    </section>
     
</header>
<body>
    <video autoplay loop muted>
        <source src="img/video2.mp4" type="video/mp4">
        
      </video>
    
  




</body> 
</html>
