


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="fiche.contact.page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard-admin</title>
</head>

<header>

    <section1 class="container" id="flex">
        <div class="box">
        
         <img src="img/E G S.png" alt="logo"  height="100px" width="100px">
         <br>

        </div>
    
         <br>       
         <nav >
    <ul>
        <a href="dashboard.html"> <li>dashboard</li> </a>
       
        <a href="planning.page.html"> <li>Planning</li> </a>
        
      
       
        <a href="fiche.contact.page.html"> <li>Fiches contact</li> </a>
       
        <a href="gestion.utilisateurs.page.html"> <li>Utilisateurs</li> </a>
        
        <a href="configuration.page.html"> <li>Configuration</li> </a>
    </ul>
    </nav>
    
    </div>
    
    </section>
     
</header>
<br>    <br>    <br> 
<body>
    <section class="flex">
        <video autoplay loop muted>
            <source src="img/video2.mp4" type="video/mp4">
            
          </video>
        <div class="boxa">
           <h2> Fiche contacts</h2>
           <br> <br> <br> <br>
        
           <p>En utilisant les listes deroulantes à droite,vous pouvez <br>
            voir les fiches contacts de chaque professeur, chaque parent et chaque élève.<br>
        </p>

  
  
        </div>

        <div class="boxb">
           
         
            <div class="boxb-1">
                <h2> Professeurs</h2>
                <p>veuillez choisir une matière  <br> 
                pour voir les contacts</p>
                <br><br>
                <select name ='role'> <br><br>
                
                    <option value="selectionner">Selctionner une matière </option>
                    <option value="Admin">Mathématiques</option>
                    <option value="Professeur">Physiques-Chimie</option>
                    <option value="Professeur">Français</option>
                    <option value="Professeur">Anglais</option>
                    <option value="Professeur">Histoire-géographie</option>
                    <option value="Professeur">Education physique et sportive</option>
                    
                </select>
                <br><br>
                <button  type="submit" name="login"  >Voir les contacts</button>
       
       
             </div>
             <div class="boxb-2">
                <h2> Parents</h2>

                <p>veuillez choisir une classe<br>
                pour voir les contacts</p>
                <br><br>

                <select name ='role'> <br><br>

                  
                
                    <option value="selectionner">Selctionner une classe </option>
                    <option value="Admin">Maternelle 1</option>
                    <option value="Professeur">Maternelle 2</option>
                    <option value="Professeur">Maternelle 3</option>
                    <option value="Professeur"> CP1 </option>
                    <option value="Professeur">CP2</option>
                    <option value="Professeur">CP3</option>
                    <option value="Professeur">CE1</option>
                    <option value="Professeur">CE2</option>
                    <option value="Professeur">CM1</option>
                    <option value="Professeur">CM2</option>
                    <option value="Professeur">6ème</option>
                    <option value="Professeur">5ème</option>
                    <option value="Professeur">4ème</option>
                    <option value="Professeur">3ème</option>
                    <option value="Professeur">2nde</option>
                    <option value="Professeur">1ère</option>
                    <option value="Professeur">Terminale</option> 
                    
                    
                  
                </select>

                <br><br>
                <button  type="submit" name="login"  >Voir les contacts</button>
             </div>


             <div class="boxb-3">
                <h2> élèves</h2>
                <p>veuillez choisir une classe<br>
                pour voir les contacts</p>
                <br><br>
                <select name ='role'> <br><br>
                <option value="selectionner">Selctionner une classe </option>
                
              
                <option value="Professeur">CM1</option>
                <option value="Professeur">CM2</option>
                <option value="Professeur">6ème</option>
                <option value="Professeur">5ème</option>
                <option value="Professeur">4ème</option>
                <option value="Professeur">3ème</option>
                <option value="Professeur">2nde</option>
                <option value="Professeur">1ère</option>
                <option value="Professeur">Terminale</option> 

            </select>

            <br><br>
                <button  type="submit" name="login"  >Voir les contacts</button>
            </div>

            
          

   
         </div>
   
  
      </section>
  
  




</body> 
</html>
