
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="gestion.utilisateurs.page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard-admin</title>
</head>

<header>

    <section1 class="container" id="flex">
        <div class="box">
        
         <img src="img/E G S.png" alt="logo"  height="100px" width="100px">
         <br>

        </div>
    
         <br>       
         <nav >
    <ul>
        <a href="dashboard.html"> <li>dashboard</li> </a>
       
        <a href="planning.page.html"> <li>Planning</li> </a>
        
       
        <a href="fiche.contact.page.html"> <li>Fiches contact</li> </a>
       
        <a href="gestion.utilisateurs.page.html"> <li>Utilisateurs</li> </a>
        
        <a href="configuration.page.html"> <li>Configuration</li> </a>
    </ul>
    </nav>
    
    </div>
    
    </section>
     
</header>
<br>    <br>    <br> 
<body>
    
  
    
        
        <section class="flex">
            <video autoplay loop muted>
                <source src="img/video2.mp4" type="video/mp4">
                
              </video>
            <div class="boxa">

                <br><br><br><br><br><br>
               <h2> Gestion utilisateurs</h2>
               <br>

               <p> Bienvenue sur votre page de gestion des utilisateurs <br>
                c'est ici que vous pouvez ajouter, supprimer ou modifier des utilisateurs</p>
      
      
            </div>
    
            <div class="boxb">
               
             
                <div class="boxb-1">
                    <h2> Utilisateurs </h2>
                    <br>
                    <br>
                    <br>

                <div class="boxb-1-1">
                    <br>
                    <h3> Ajouter un utilisateur </h3>
                    <br>
                    <h3> Liste des utilisateurs </h3>
                    <br>
                    <h3> Vue hiérarchique </h3>
                    <br>
                    <br>
                </div>
           
           
                 </div>
                 <div class="boxb-2">
                    <h2> Groupe  </h2>
                    <br>
                    <br>
                    <br>
    
                <div class="boxb-1-1">
                    <br>
                    <br>
                    <br>
                    <h3> Ajouter un groupe </h3>
                    <br>
                    
                    <h3> Liste des groupes </h3>
                    <br>
                    
                    <br>
                    <br>
                </div>
            </div>
       
             </div>
       
      
          </section>




</body> 
</html>
